
#restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
  }


  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 15px;
    min-height: 380px;
    width: 30%;
    padding: 0 30px 25px;
    text-align: left;
}